<% content_for :cover do %>
    <div class = "cover">
        <div class = "cover-contents">
            <h1>Meeting to Great Goods</h1>
            <a href="" class="btn btn-success btn-lg">Start MONOLIST</a>
        </div>
    </div>
<% end %>

<p>Test !!!!!!!!!!!!</p>